* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}



/*header*/
.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 20px;
    margin-bottom: 86px;
    z-index: 15;
    transition: all .6s;
}

.header-fixed:before{
    display: none;
}

.header {
    margin-top: 20px;
    margin-bottom: 86px;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.header-btn {
    Width: 235px;
    Height: 48px;
    color: #FFFFFF;
    border-radius: 300px;
    background-color: black

}

.header-btn:hover {
    color: black;
    background: #8979E8;
    transition: .6s;
}


.header-link {
    color: black;
    font-weight: 600;
    position: relative;
    transition: .6s;
    margin-right: 12px;
}

.header-link::before {
    content: "";
    height: 2px;
    width: 100%;
    background: #8979E8;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: .4s;
}

.header-link:hover:before {
    transform: scale(1);
}

/*header*/


/*hero*/


.hero {
    margin-bottom: 238px;
    margin-top: 130px;
}

.hero-item2 {
    position: relative;
    margin-left: 115px;
    margin-top: -75px;
}

.hero-img {
    position: absolute;
}

.hero-img1 {
    position: absolute;
    margin-left: -263px;
    z-index: -1;
}

.hero-img2 {
    position: absolute;
    margin-top: -62px;
    margin-left: 260px;
    z-index: -1;
}

.hero-img3 {
    position: absolute;
    margin-top: 287px;
    margin-left: 185px;
}


.hero-block {
    margin-bottom: 100px;
}

.hero-btn1 {
    Width: 183px;
    outline: none;
    Height: 22px;
    border-radius: 300px;
    background-color: #8979E8;
    color: white;
}


.hero-btn1:hover {
    background-color: #FFFFFF;
    transition: .6s;
    color: #8979E8;
}

.hero-btn:hover {
    background-color: #8979E8;
    transition: .6s;
    color: #FFFFFF;
}

.hero-btn {
    Width: 183px;
    Height: 22px;
    border-radius: 300px;
    color: #8979E8;
    border: none;

}

.hero-text {
    color: #595959;
    margin-bottom: 14px;
    font-size: 15px;
}

.hero-title {
    font-size: 54px;
    font-weight: normal;
    line-height: 64px;
}

.hero-title2 {
    margin-bottom: 42px;
}

.hero-btn1 {
    margin-right: 12px;
}

/*hero*/


/*menage*/
.menage {
    background-color: #F3F1FC;
    padding: 83px 0 0;
}

.menage-block {
    margin-bottom: 100px;

}

.menage-play {
    width: 66px;
    height: 66px;
    background-color: #8979E8;
    border-radius: 50%;
    margin-top: 345px;
    margin-left: -75px;
    position: absolute;
    top: 10%;
    transform: translate(855%, 1133%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.menage-play:hover {
    background-color: #9a1488;
    transition: .4s;
}

.menage-img {
    margin-left: 100px;
    margin-bottom: 45px;
}

.menage-link {
    margin-left: 495px;
    color: #8979E8;
}

.menage-text {
    text-align: center;
}

.menage-title {
    margin-top: 12px;
    font-size: 45px;
    font-weight: normal;
    line-height: 64px;
    text-align: center;
}

/*menage*/

/*control*/

.control {
    margin-bottom: 29px;
    width: 40px;
    margin-left: 40px
}

.control-title {
    margin-top: 12px;
}

.control-text1 {
    margin-bottom: 24px;

}


.control-text {
    margin-bottom: 30px;
}

.control-block {
    margin-bottom: 290px;

}

/*control*/

/*pay*/
.pay {
    margin-bottom: 240px;
}

.pay-item {
    position: relative;
}

.pay-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.pay-text {
    margin-bottom: 15px;
}

.pay-img1 {
    position: absolute;
    top: -83px;
    left: -135px;
}

.pay-img2 {
    position: absolute;
    top: 89px;
    right: -25px;
}

.pay-block {
    animation: backInRight;
    animation-duration: 2s;
}

.pay-btn {
    width: 211px;
    height: 22px;
    border-radius: 300px;
    background-color: black;
    color: #FFFFFF;
    border: none;
}

.pay-btn:hover {
    background-color: #8979E8;
    transition: .6s;
}

.pay-img {
    width: 645px;
    margin-top: -190px;
}

/*pay*/

/*sell*/
.sell {
    margin-bottom: 75px;
}

.sell-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.sell-img {
    animation: backInLeft;
    animation-duration: 2s;
}

.sell-item1 {
    margin-left: 100px;
}

.sell-text {
    margin-bottom: 15px;
}

.sell-img {
    width: 759px;
    margin-top: -261px;
    margin-left: -200px;
}

.sell-btn {
    color: white;
    background-color: black;
    border: none;
    Width: 183px;
    Height: 22px;
    border-radius: 300px;
    margin-bottom: 100px;
}

.sell-btn:hover {
    background-color: #8979E8;
    transition: .6s;
}

/*sell*/

/*customers*/

.customers {
    padding: 76px 0 103px;
    background-color: #F7F3EB;
    height: 115vh;
}

.customers-title {
    margin-top: 76px;
    margin-bottom: 15px;
    text-align: center;
}

.customers-title1 {
    text-align: center;
    margin-bottom: 15px;
}

.customers-content1 {
    width: 610px;
    height: 170px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 0 25px;
    position: absolute;
    transform: translate(-55px, 10px);
}

.customers-content {
    width: 610px;
    height: 170px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 0 25px;
    position: absolute;
    transform: translate(5px, 10px);
}

.customers-col {
    width: 50%;
}

.customers-title2 {
    text-align: center;
    margin-bottom: 15px;
}

.customers-text {
    margin-bottom: 20px;
    text-align: center;
}

/*customers*/


/*cost*/
.cost {
    padding: 76px 0 103px;
    height: 100vh;
}

.cost-content {
    width: 330px;
    height: 410px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 0 25px;
    position: absolute;
    margin-left: 48px;

}

.cost-content2 {
    width: 330px;
    height: 410px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 0 25px;
    position: absolute;

}

.cost-content3 {
    width: 330px;
    height: 410px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 33px 0 25px;
    position: absolute;
    margin-left: -48px;

}

.cost-title {
    margin-bottom: 18px;
}

.cost-text {
    margin-bottom: 20px;
}

.cost-title1 {
    text-align: center;
}

.cost-text1 {
    text-align: center;
}

.cost-btn {
    Width: 277px;
    Height: 48px;
    border-radius: 24px;
    color: white;
    background-color: #8979E8;
    margin-bottom: 35px;
    border: none;
}

.cost-btn:hover {
    color: #8979E8;
    background: #F7F3EB;
    transition: .6s;
}

/*cost*/


/*start*/

.start {

    background-color: #F6F6F6;
    padding: 76px 0 104px;
    height: 580px;
}

.start-title {
    text-align: center;
    margin-bottom: 10px;
}

.start-text {
    text-align: center;
    margin-bottom: 43px;
}

.start-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-img {
    width: 70px;
    height: 70px;
}

.start-content {
    width: 303px;
    height: 205px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 33px 0 25px;
}

/*start*/

/*blog    */

.blog {

    padding: 76px 0 174px;
    height: 100vh;
    margin-bottom: 100px;
}

.blog-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-title {
    margin-bottom: 10px;
    text-align: center;

}

.blog-img {
    Width: 480px;
    Height: 240px;
}

.blog-text {
    margin-bottom: 57px;
    text-align: center;
}

/*blog    */

/*care*/

.care {
    padding: 58px 0 97px;
    background-color: #F3F1FC;
    height: 452px;
}

.care-block {
    text-align: center;
}

.care-title {
    font-size: 40px;
    margin-bottom: 60px;
}

.care-text {
    margin-bottom: 22px;
}

.care-btn {
    Width: 174px;
    Height: 22px;
    border-radius: 300px;
    border: none;
    background-color: #8979E8;
    color: white;
}

.care-btn:hover {
    color: black;
    background-color: #FFFFFF;
    transition: .5s;
}


.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 2;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-popup2 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #391145;
    background: #391145;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color: #391145;
    transition: 0.5s all;
}

/*care*/


/*footer*/

.footer {
    padding: 26px 0 0;
    background-color: black;
}

.footer-link {
    color: white;
}

.footer-title {
    margin-top: 66px;
    margin-bottom: 26px;
    color: white;
}

.footer-text {
    margin-bottom: 9px;
    color: #5d5b5b;
}

.footer-text1 {
    margin-bottom: 84px;
    color: #5d5b5b;
}

/*footer*/













